.podcast_list_main {
    padding: 0;
    color: white;
    margin: 1%;
}

.podcast_list_main img {
    height: 320px;
}

.podcastlist_card_img {
    width: 100%;
    height: 20px;
}

#podcastlist_card {
    padding: 0;
    color: white;
    width: 23%; /* Adjusted width to fit four cards per row */
    margin: 1%;
    float: left; /* Added float left to ensure cards are aligned horizontally */
}

.podcastlist_card_content {
    padding: 5%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    height: fit-content;
}

.episodebtn {
    background-color: rgba(86, 144, 92, 1);
    outline: none;
    border-radius: 6px;
    border: none;
    color: white;
    margin-bottom: 2%;
    display: block; /* Ensures button is displayed as a block element */
}
.audiodisplay{
    position: relative;
}
.whishlistbtn{
    position: absolute;
    bottom:335px;
    left:160px;
    background-color: rgba(86, 144, 92, 1);
    outline: none;
    border-radius: 6px;
    border: none;
    color: white;
    margin-bottom: 2%;
    display: block; 
}